# Data directories
/data
/autocert-secrets

# Include files
/include/env.toml
/include/env.*.toml
/include/autocert.toml

# Config files
/config.toml
/apikeys.json
/resources.json
/groups.json

/source-proxy

# Allow
!/include/env.example.toml
